@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Oswald);

.no_select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    cursor: default;
}

.no_horizontal_scroll_bar {
    overflow-x: hidden;
}

.center_title_text {
	text-align: center;
	font-size: 5vh;
	padding-top: 1%;
}

.center {
	text-align: center;
}

.text_outline {
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.banner {
    background-color: transparent;
	color: rgb(255,255,255);
    margin: 20px auto;
    margin-top: 0px; 
    padding: 0px;
    font: small-caps 15px "Source Code Pro";
    line-height: 50px;
}

.header_font {
	font-family: Oswald, sans-serif;
	font-weight: 600;
}

.underlined {
	text-decoration: underline;
}

.links {
    background-color: transparent;
    float: right; 
	text-align: center;
	margin-right: 2%;
}

.news_entry_title {
	text-align: center;
	float: left;
}

.body_text_font {
	font-family: "Century Gothic", sans-serif;
}

.body_text {
	text-align: left;
}

.news_entry_text {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 30%;
	float: right;
	overflow: hidden;
}

.news_entry_image {
	float: left;
	margin-left: 20%;
}

#news {
	width: 100%;
	margin-top: 4vh;
}

#home_title {
	color: rgb(255,255,255);
	font-weight: 900;
	margin-top: 8%;
}

#background_image_blur {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
    background: url("/home.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100vw;
	height: auto;
	background-size: cover;
	display: block;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	top: 0px;
}

#active_tab_blur {
	z-index: -1;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	background: url("/home.jpg");
	background-repeat: no-repeat;
	display: block;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
    visibility: hidden;
}

#hover_tab_blur {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	background: url("/home.jpg");
	background-repeat: no-repeat;
	display: block;
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	-o-filter: blur(30px);
	-ms-filter: blur(30px);
	filter: blur(30px);
    visibility: hidden;
}

hr {
	position: absolute;
	display: block;
	width: 102%;
	margin-left: -10px;
}

#header {
	font-weight: bold;
    line-height: 80px;
    font-size: 30px;
    width: auto;
	border-radius: 5px;
}

#header > img {
	margin: 0;
	margin-left: 5%;
    padding: 0px 25px 5px 0;
}

#header > span {
    vertical-align: top;
}

#nav {
	font-size: 18px;
    height: 51px;
    padding: 0;
}

#nav > li {
    height: 50px;
    list-style-type: none;
    display: inline-block;
    line-height: 50px;
    text-align: inherit;
    cursor: pointer;
}

#content_wrapper {
	position: absolute;
	width: 100%;
}
